{% extends "index.html" %}

{% import "data_table.html" as data_table %}

{% block meta %}

{% set banner = page.relative_path | split(pat="/") | slice(end=-1) | concat(with="banner.jpg") | join(sep="/") %}

<meta name="title" content="{{ page.title }}">
<meta name="description" content="{{ page.content | striptags | truncate(length=100) }}">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.permalink }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.content | striptags | truncate(length=100) }}">
<meta property="og:image" content="{{ resize_image(path=banner, width=1200, height=628, op="fill") }}">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ page.permalink }}">
<meta property="twitter:title" content="{{ page.title }}">
<meta property="twitter:description" content="{{ page.content | striptags | truncate(length=100) }}">
<meta property="twitter:image" content="{{ resize_image(path=banner, width=1200, height=628, op="fill") }}">
{% endblock meta %}

{% block content %}

{% set cover = page.relative_path | split(pat="/") | slice(end=-1) | concat(with="cover.jpg") | join(sep="/") %}

<div class="post-item">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date(format=date_format) }}</span>

  <div class="post-body">

    <div class="post-data">
      <div class="images">
        {% for image in page.extra.variations | slice(end=1) %}
          {% set i = page.relative_path | split(pat="/") | slice(end=-1) | concat(with=image) | join(sep="/") %}

          <a href="{{ i }}" id="image">
            <img src="{{ resize_image(path=i, height=700, op="fit_height") }}" />
          </a>
        {% endfor %}
      </div>
      {% if page.extra.variations %}
        <div class="variations">
          <div>
            {% for image in page.extra.variations %}

              {% set i = page.relative_path | split(pat="/") | slice(end=-1) | concat(with=image) | join(sep="/") %}

              <a onclick="setImage('{{ image }}', '{{ resize_image(path=i, height=700, op="fit_height") }}')">
                <img src="{{ resize_image(path=i, height=700, op="fit_height") }}" />
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {{ data_table::data_table() }}
    </div>

    <div class="post-content">
      {{ page.content | safe }}
    </div>
  </div>
</div>


{% if page.extra.variations %}
<script type="text/javascript">
  function setImage(link, src) {
    var img_link = document.querySelector("#image");
    var img = document.querySelector("#image > img");
    
    img_link.href = link;
    img.src = src;
  }
</script>
{% endif %}

{% endblock content %}
