{% extends "index.html" %}

{% block extra_head %}

<script src="/highcharts.js"></script>

{% endblock extra_head %}

{% block content %}

{% set artwork = get_section(path="artwork/_index.md") %}

{% set lowest = 999999 %}
{% set highest = 0 %}
{% set total = 0 %}
{% set count = artwork.pages | length %}

{% for sub in artwork.subsections %}
  {% set subsection = get_section(path=sub) %}
  {% set pageCount = subsection.pages | length%}
  {% set_global count = count + pageCount %}

  {% for p in subsection.pages %}
    {% set end = p.date | date(format="%s") | int %}
    {% set start = p.extra.accepted_date | date(format="%s") | int %}
    {% set duration = (end - start) / 3600 | float | round %}

    {% if duration < lowest %}
      {% set_global lowest = duration %}
    {% endif %}

    {% if duration > highest %}
      {% set_global highest = duration %}
    {% endif %}

    {% set_global total = total + duration %}
  {% endfor %}
{% endfor %}

<div class="post-item">
  <h1 class="post-title">{{ section.title }}</h1>

  <div class="post-body">
    <div class="post-content">
      <h2> {{ trans(key="requests", lang=lang) }} </h2>
      <div class="stat_line">
        <div>
          <h3> {{ trans(key="fastest", lang=lang) }} </h3>
          <span> {{ lowest }} {{ trans(key="hours", lang=lang) }} </span>
        </div>
        <div>
          <h3> {{ trans(key="average", lang=lang) }} </h3>
          <span> {{ (total / count) / 24 | float | round }} {{ trans(key="days", lang=lang) }} </span>
        </div>
        <div>
          <h3> {{ trans(key="slowest", lang=lang) }} </h3>
          <span> {{ highest / 24 | float | round }} {{ trans(key="days", lang=lang) }} </span>
        </div>
      </div>
      <div class="stat_line">
        <div>
          <h3> {{ trans(key="amount", lang=lang) }} </h3>
          {% if page.lang == "ja" %}
            <span> {{ section.extra.amount | num_format }}円以上</span>
          {% else %}
            <span> Over ¥{{ section.extra.amount | num_format }}</span>
          {% endif %}
        </div>
        <div>
          <h3> {{ trans(key="boost", lang=lang) }} </h3>
          {% if page.lang == "ja" %}
            <span> {{ section.extra.boost | num_format }}円以上</span>
          {% else %}
            <span> Over ¥{{ section.extra.boost | num_format }}</span>
          {% endif %}
        </div>
        <div>
          <h3> {{ trans(key="total", lang=lang) }} </h3>
          {% if page.lang == "ja" %}
            <span> {{ section.extra.amount + section.extra.boost | num_format }}円以上</span>
          {% else %}
            <span> Over ¥{{ section.extra.amount + section.extra.boost | num_format }}</span>
          {% endif %}
        </div>
      </div>
      <h2> {{ trans(key="totals", lang=lang) }} </h2>
      <div class="chart" id="countContainer"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const data = {
  {% for sub in artwork.subsections %}
    {% set subsection = get_section(path=sub) %}
    "{{subsection.title}}": [
      {% for p in subsection.pages | reverse %}
        "{{ p.date }}",
      {% endfor %}
    ],
  {% endfor %}
  };

  let allDates = [];

  Object.keys(data).forEach(key => {
    allDates = allDates.concat(data[key]);
  });

  allDates.sort();

  const countOptions = {
    chart: {
      renderTo: 'countContainer',
      zoomType: 'x',
      spacingRight: 20,
      type: 'area'
    },
    colors: [ "#ee8694", "#da6783" ],
    title: {
      text: '{{ trans(key="requests", lang=lang) }}'
    },
    xAxis: {
      title: {
        text: '{{ trans(key="date", lang=lang) }}'
      },
      type: 'datetime'
    },
    yAxis: {
      title: {
        text: '{{ trans(key="count", lang=lang) }}'
      }
    },
    tooltip: {
      split: true,
    },
    credits: {
      enabled: false
    },
    plotOptions: {
      area: {
        stacking: 'normal',
      }
    },
    legend: {
      enabled: false,
    },
    series: Object.keys(data).map(key => {
      let count = 0;
      return {
        name: key,
        data: allDates.map((r, i) => {
          if (data[key].includes(r)) {
            count += 1;
          }
          return [new Date(r).getTime(), count];
        })
      }
    })
  }

  const countChart = new Highcharts.Chart(countOptions);
</script>

{% endblock content %}